* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.main > article {
    flex: 2;
    overflow-y: auto; /* Allow scrolling for long content */
}

.main > aside {
    flex: 1;
    overflow-y: auto; /* Allow scrolling for long content */
}
