* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: beige;
}

header li.logo {
    font-size: 36px;
}


main{
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 20px;
    gap: 20px;
}

.main > article {
    flex: 2;
    overflow-y: auto; /* Allow scrolling for long content */
    border-radius: 20px;
    padding: 20px;
}

.main > aside {
    flex: 1;
    overflow-y: auto; /* Allow scrolling for long content */
    border-radius: 20px;
}

footer {
    background-color: beige;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
